<div class="container">
  <div class="cont">
    <mat-card class="example-card">
      <mat-card-content>
        <h2>Config</h2>
        <div><mat-checkbox [(ngModel)]="config.checkbox" (change)="reloadConfig($event)">Checkbox Mode</mat-checkbox></div>
        <div><mat-checkbox [(ngModel)]="config.multiple" (change)="reloadConfig($event)">Multiple Mode</mat-checkbox></div>
        <div><mat-checkbox [(ngModel)]="config.search" (change)="reloadConfig($event)">Search bar</mat-checkbox></div>
        <div><mat-checkbox [(ngModel)]="config.selectAll" >Select all & Deselect all</mat-checkbox></div>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <ngx-tree-data (selected)="dataSelected = $event" [config]="config">
            <div class="title">
                <h2>Ngx-tree-data</h2>
            </div>
        </ngx-tree-data>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cont">
    <mat-card class="example-card">
      <mat-card-content>
        <h3>RESULT</h3>
        <ng-container *ngFor="let item of dataSelected" >
          <div class="item">{{ item | json }}</div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>